@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, a, div {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:  var(--cultured);
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --cultured : #F6F5F6;
    --giants : #ff5f16;
    --american : #4d1860;
    --eerie : #191124;
}

/* ======================== Header ======================== */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--cultured);
    height: 56px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 80px;
}

.header-left h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--eerie);
}


.navigation {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 80px;
}

.navigation a {
    font-size: 16px;
    font-weight: 800;
    color: var(--eerie);
}

.navigation a:hover {
    color: var(--giants);
}

.section {
    margin:120px 80px;
    padding-top: 40px;
}

/* ======================== Main ======================== */
.main {
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 100%;
}

.main-title {
    flex: 6;
}

.main-title h1 {
    font-weight: 600;
    font-size: 120px;
    position: relative;
    left: -12px;
    top: -80px;
}

.main-title p {
    font-weight: 500;
}

.image {
    display: flex;
    justify-content: center;
    flex: 5;
    height: 100%;
}

.image img {
    width: 70%;
    min-width: 320px;
}

.image-note {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transform: rotate(90deg);
    transform-origin: top right;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 80px;
    top: 240px;
    border-bottom: 1px solid var(--eerie);
    
}


.rectangle {
    background-color: var(--giants);
    position: absolute;
    width: 56%;
    height: 22vw;
    right: 0;
    top: 283px;
    mix-blend-mode: multiply;
}

.next-button {
    display: flex;
    align-items: center;
    position: absolute;
    mix-blend-mode: normal;
    bottom: -48px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
}

.next-button a {
    color: var(--eerie);
    text-transform: uppercase;
    font-weight: 800;
    
}


.fas {
    background-color: var(--eerie);
    color: var(--giants);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 24px;
}

/* ======================== About ======================== */
.about {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.about h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 88px;
    text-transform: uppercase;
    text-decoration-line: underline;
    padding: 16px;
}


.text-about {
    width: 934px;
    display: flex;
    justify-content: center;
    margin: 64px 0;
}
.picture {
    width: 100%;
    margin: 40px 20px;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 70%;
}

/* ======================== Galeri ======================== */
.galeri {
    text-align :center;
}

.baris{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 40px 0  ;
}

.gambar{
    display:flex ;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.gambar img {
    height: 100%;
}

.text-galeri{
    background-color :var(--eerie);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    text-align: left;
    height: 120px;
    padding: 16px 0;
}
.picture {
    display: flex;
    width: 100%;
}

.galeri h1{
    font-weight: 600;
    line-height: 88px;
    font-size: 56px;
    text-transform:uppercase;
    text-decoration-line: underline;
    margin: 80px 0;
}


.text-galeri h4{ 
    color:var(--giants);
    font-size: 14px;
    padding: 0 16px;
    text-transform:uppercase;
}

.text-galeri p{
    color: var(--cultured);
    padding: 0 16px;
    
}


/* ======================== Contact ======================== */
.contact {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.judul h1 {
    font-weight: 700;
    font-size: 72px;
}

.kontak {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 8px;
}

.kontak input {
    margin: 0px;
    width: 49%;

}

.formulir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 49px;
    padding: 0 16px;
    margin: 8px;
    border-radius: 25px;
    font-family: Montserrat;
    font-weight: 500;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 16px;
    margin: 8px;
    border-radius: 25px;
    font-family: Montserrat;
    font-weight: 500;
}

.tombol-kirim {
    background-color: var(--giants);
    font-weight: 800;
    width: 100%;
    
}
.tombol-kirim:hover {
    background-color: var(--american);
    color: var(--giants);
    cursor: pointer;
}

.footer {
    background-color: var(--giants);
    color: var(--cultured);
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
}

.sosmed {
    display: flex;
    justify-content: space-around;
}

.sosmed a {
    font-size: 24px;
    color:var(--cultured);


}
.sosmed a:hover {
    color: var(--american);
}