@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cultured);
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --cultured : #F6F5F6;
    --giants : #ff5f16;
    --american : #4d1860;
    --eerie : #191124;
}

/* ======================== Header ======================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 80px;
    padding: 16px 0;
    text-transform: uppercase;
}

.header-left {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header-left h2 {
    font-size: 20px;
    color: var(--eerie);
    font-weight: 700;
}

.header-right {
    flex: 5;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
}

.navigation a {
    font-size: 16px;
    font-weight: 800;
    color: var(--eerie);
}

.section {
    margin:0 80px;
}

/* ======================== Main ======================== */
.main {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.main-title {
    flex: 6;
}

.main-title h1 {
    font-weight: 600;
    font-size: 120px;
    position: relative;
    left: -12px;
    top: -80px;
}

.main-title .number {
    transform: rotate(90deg);
    position: relative;
    top: 280px;
    left: -280px;
}

.image {
    display: flex;
    justify-content: center;
    flex: 5;
}

.image img {
    width: 72%;
    min-width: 320px;
}

.image-note {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transform: rotate(90deg);
    position: absolute;
    right: 24px;
    top: 140px;
    border-bottom: 1px solid var(--eerie);
}

.note-sentence {
    position: absolute;
    top: 180px;
    right: 565px;
    width: 240px;
}

.note-sentence h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    -webkit-text-stroke: 1px var(--eerie);
    -webkit-text-fill-color: var(--cultured);
}

.note-sentence p {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    margin-top: 16px;
}

.rectangle {
    background-color: var(--giants);
    position: absolute;
    width: 60%;
    height: 22vw;
    right: 0;
    top: 283px;
    mix-blend-mode: multiply;
}

.next-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    mix-blend-mode: normal;
    bottom: -4px;
}

.about {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.about h1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    text-decoration-line: underline;
}
.text {
    width: 934px;
    display: flex;
    justify-content: center;
}
.picture {
    width: 934px;
    margin: 0 20px;
}

.picture img {
    padding: 0;
    margin: 0;
    width: 100%;
}

.galeri {
    background-color: orange;
    text-align :center;
}

.baris{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 40px 0;
}

.gambar{
    display:flex ;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.picture {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.galeri h1{
    font-style: normal;
    font-weight: 600;
    line-height: 88px;
    font-size: 72px;
    text-transform:uppercase;
    text-decoration-line: underline;
}

.text-galeri{
    background-color :black;
    width:100%;
    text-align: left;
}

.text-galeri h4{ 
    color:orange;
}

.text-galeri p
{ color:white;
}


.contact {
    background-color: peru;
}


.footer {
    background-color: orange;
}