* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    background-color: crimson;
}

.main {
    background-color: cyan;
}

.content {
    background-color: magenta;
}

.footer {
    background-color: orange;
}